<p>search-image works!</p>
<div class="container">
    <h1>Flickr Api Call</h1>
    <div class="form-group">
        <input type="search" class="form-control" (keyup)="search($event)" placeholder="Saerch Image">
    </div>

    <div class="row">
        <div class="col-sm-12" *ngFor="let image of images"> 
            <div class="card">
                <a href="{{image.url}}.jpg">
                    <img src="{{image.url}}.jpg" alt="" title="{{image.title}}">
                </a>
            </div>

        </div>
    </div>
</div>